includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level of rule strictness (0-10)
    level: 5

    excludePaths:
        - ./*/*/FileToIgnore.php
